@import './variables.scss';
@import '_sidebar.scss';
@import '_volunteers.scss';
@import '_donations.scss';

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $textDarkGray;
    background: $lightGray;
    font-family: 'Open Sans', sans-serif;
}

.app {
    display: flex;
}

.volunteer-uploader,
.donation-uploader {
    flex-grow: 1;
    height: calc(100vh);
    overflow-y: auto;
}

.section-container {
    padding: 20px;
    box-sizing: border-box;
}

.button-container {
    height: 50px;
}

.button-container button {
    background: $mediumBlue;
    border-radius: 4px;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 20px;
    bottom: 20px;

    &:hover,
    &:active,
    &:focus {
        background: $darkBlue;
        cursor: pointer;
    }

    &.disabled {
        background: $lightGray;
        color: $mediumGray;
    }
}