@import './variables.scss';
@import '_sidebar.scss';

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $textDarkGray;
    background: $lightGray;
    font-family: 'Open Sans', sans-serif;
}